.glide {
    position: relative;

    &__arrows {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__arrow {
        background: none;
        border: none;
        font-size: 75px;
        cursor: pointer;

        &--left {
            margin-left: -50px;
        }

        &--right {
            margin-right: -50px;
        }

        @media screen and (max-width: 900px) {
            &--left {
                margin-left: -33px;
            }
    
            &--right {
                margin-right: -33px;
            }
        }
     }

     &__slides {
        overflow: hidden;
        padding: 10px;
     }

     &__slide {
        display: flex;
        flex-direction: column;
        height: 430px;
        background-color: white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: 200ms;

        @media screen and (max-width: 900px) {
            flex-direction: row;
            height: auto;
        }

        @media screen and (min-width: 901px) {
            &:hover {
                width: 250px !important;
                height: 450px;
                margin-top: -10px;
            }
        }

        &-img {
            width: 100%;
            height: 145px;
            background-size: cover;
            background-position: center;

            @media screen and (max-width: 900px) {
                width: 200px;
                height: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-title {
            padding: 20px;
            text-align: center;

            h3 {
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 15px;
            }
        }

        &-tag {
            font-size: 12px;

            &--star {
                color: green;
            }

            &--galaxy {
                color: red;
            }

            &--black-hole {
                color: orange;
            }
        }

        &-desc {
            padding: 0 20px;
            text-align: center;
            font-size: 14px;
            flex: 1;
        }

        &-cta {
            margin-top: 20px;
            
            button {
                background: none;
                border: none;
                display: block;
                width: 100%;
                padding: 10px;
                border-top: 1px solid #D9D9D9;
                cursor: pointer;
            }
        }
     }
}